h3,
h2 {
  margin: 0px;
}

.trends-container,
.trends-container--mobile {
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: 40vh;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0 0 0 10px;
  right: 0;
  color: white;
  box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.25);
}

.trends-container--mobile {
  width: 100%;
  max-height: 50vh;
  bottom: 0;
  border-radius: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px;
  margin-bottom: 0;
}

header h1 {
  margin: 0;
  font-size: 1.7em;
  text-align: center;
}

.trends--location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  height: 32px;
  padding: 8px 15px;
}

.trends--location-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.flag-icon {
  cursor: default;
  margin-right: 4px;
}

.icon-in-container,
.icon-in-container--mobile,
.icon-no-container {
  position: absolute;
  cursor: pointer;
  right: 0;
  padding: 10px;
}

.icon-in-container--mobile {
  padding: 0 10px 0 0;
}

.icon-in-container {
  color: rgba(255, 255, 255, 0.5);
}

.icon-in-container:hover {
  color: rgba(255, 255, 255, 0.9);
}

.icon-no-container {
  position: fixed;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 8px;
}

.icon-no-container:hover {
  color: rgba(0, 0, 0, 0.9);
}

.trends--list-container {
  height: 300px;
  width: 99%;
  overflow: auto;
}

.trends--list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.trends--list--item {
  display: flex;
  word-wrap: break-word;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.trends--list--item a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: white;
  padding: 8px 15px;
}
.trends--list--item a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.item--heading,
.item--tweets {
  padding: 0;
  margin: 0;
}

.item--tweets {
  font-size: small;
  color: rgba(255, 255, 255, 0.7);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}

.footer--about {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  padding: 15px 8px;
}
details {
  text-align: center;
}

summary {
  cursor: pointer;
  padding: 0px 10px;
}

.footer--author {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer--author-twitter {
  display: flex;
}

.footer--author-name {
  display: flex;
}

.footer--author p {
  font-size: small;
}

.twitter-icon {
  padding-left: 5px;
}

footer p {
  margin: 0;
}
